<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.alcoseba.addjarplugin.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="org.alcoseba.addjarplugin.actions.AddJarAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.alcoseba.addjarplugin.actions.AddJarAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
 			<page
            	class="org.alcoseba.addjarplugin.properties.AddJarPropertyPage"
            	id="org.alcoseba.addjarplugin.properties.AddJarPropertyPage"
            	name="Add Jar">
	
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IResource"/>
			</enabledWhen>
      </page>
   </extension>

</plugin>
